In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["axes.unicode_minus"] = False

#date 컬럼을 연산(+,-) 가능한 객체로 변환하기
df = pd.read_csv("weather_data_2024.csv", parse_dates=["date"])

#3,4,5 봄  6,7,8    9,10,11,  12,1,2
df["month"] = df["date"].dt.month

# 봄 , 여름, 가을, 겨울을 구분하는 함수 만들기
def get_season(month):
    if month in [3,4,5]:
        return "봄"
    elif month in [6,7,8]:
        return "여름"
    elif month in [9,10,11]:
        return "가을"
    else:
        return "겨울"

df["season"] = df["month"].apply(get_season)

#월별 기준으로 기온, 습도, 강우량, 풍속으로 묶어 주기(월별 평균)
monthly_mean = df.groupby("month")[["temperature", "humidity", "rainfall", "wind_speed"]].mean()

       temperature   humidity  rainfall  wind_speed
month
1        -0.661290  48.548387  3.064516    4.016129
2        -0.272414  52.665517  2.562069    4.306897
3        15.848387  54.348387  5.345161    2.903226
4        15.063333  56.253333  5.190000    2.906667
5        14.964516  52.354839  4.345161    2.987097
6        25.536667  77.066667  8.633333    2.563333
7        27.070968  73.887097  9.438710    2.590323
8        27.774194  77.293548  8.487097    2.803226
9        19.426667  57.436667  6.220000    3.666667
10       18.525806  62.470968  5.503226    3.393548
11       17.970000  60.093333  5.653333    3.610000
12        0.612903  50.248387  3.364516    4.112903